*[draggable=true]{
    -moz-user-select:none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: move;
}
.dia-toolbar{
    text-align: center;
}
.dia-flex{
    display: flex;
    flex-direction: row;
}
.dia-border{
    border: 1px solid #ccc;
}
.first-col{
    width: 300px;
}
.mid-col{
    flex-grow: 1;
}
.last-col{
    width: 300px;
}

.pallet img{
    width: 50px;
    height: 50px;
}

.magnet-ports{
    cursor: pointer;
}


/*canvas begin*/
.ca-grids path{
    stroke: #ccc;
    stroke-opacity: 0.3;
}
.magnet-ports circle{
    fill: #f1c40f;
    stroke: #000;
    opacity: 0.9;
}
g.link path{
    stroke: #333;
}
/*property area*/
.measure-remove{
    text-align: right;
}
.pro-area{
    padding: 6px;
}
.pro-area .align-center{
    text-align: center;
}
.pro-area label{
    padding: 6px 8px;
}
.pro-area input,.pro-area select{
    padding: 3px 6px;
}
.pro-area .pro-row{
    margin: 8px 6px;
}
.pro-area .pro-header{
    font-size: 16px;
    font-weight: 800;
}
.operator-hightlight{
    stroke: #ffb7b7;
    fill: none;
}
.operator-del{
    cursor: pointer;
}
.path-hover{
    stroke: #fff;
    fill: #ddd;
    opacity: 0.5;
    cursor: pointer;
    visibility: hidden;
    pointer-events: all;
}
.path-hover:hover{
    visibility: visible;
}
.line-operator{
    cursor: pointer;
}
.dia-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    z-index: 999;
}
.dia-overlay .dia-sub-create{
    width: 500px;
    margin: 10% auto;
    top: 50%;
}
.dia-center {
    text-align: center;
}
.dia-tab{
    display: inline-block;
    padding: 6px;
    border: 1px solid #666;
    position: relative;
}
.dia-tab.selected{
    border: 2px solid #000;
}
.dia-tab span{
    cursor: pointer;
}
.dia-del-tab{
    position:absolute;
    right: 0px;
    top: 0px;
}
.group-element rect{
    fill: #fff;
    fill-opacity: 0.01;
    stroke-dasharray: 5 10 5;
    stroke: #666;
}

.text-element text,.placeholder-element text{
    dominant-baseline: text-before-edge;
}
