*[draggable=true]{
    -moz-user-select:none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: move;
}
.dia-toolbar{
    text-align: center;
}
.dia-toolbar button{
    display: inline-block;
    margin: 3px 3px;
}
.dia-header{
   /* font-size: 1.2rem;
    line-height: 3rem;*/
}
.dia-title{
   /* font-size: 2rem;
    line-height: 4rem;
    font-weight: 700;*/
}
.dia-flex{
    /*position:relative;*/
}
.diagram-component .canvas{
}
.dia-border{
    border: 1px solid  #2890CB;
    border-bottom: none;
}
.dia-flex .first-col{
    position: absolute;
    left: 0;
    width: 300px;
    border-right: none;
}
.dia-flex .mid-col{
    position: absolute;
    overflow: auto;
    left: 300px;
    right: 300px;
    min-width: 300px;
}
.dia-flex .canvas{
    text-align: center;
}
.dia-flex svg{
    display: inline-block;
}
.dia-flex .last-col{
    position: absolute;
    right: 0;
    width: 300px;
    border-left: none;
}
.pallet{
    padding:0 6px;
    min-width: 200px;
}

.pallet img{
    width: 50px;
    height: 50px;
}
.pallet li{
    float: left;
    list-style: none;
}
.pallet h4{
    clear: both;
}
.pallet-group h4{
    cursor: pointer;
}
.pallet-group li{
    width: 60px;
    height: 80px;
}

.magnet-ports{
    cursor: pointer;
}
.ca-border rect{
    fill: none;
}
/*canvas begin*/
.ca-grids path{
    stroke: #ccc;
    stroke-opacity: 0.3;
}
.magnet-ports circle{
    fill: #f1c40f;
    stroke: #000;
    opacity: 0.9;
}
g.link path{
    stroke: #333;
}
/*property area*/
.measure-remove{
    text-align: right;
}
.pro-area{
    padding: 6px;
}
.pro-area .align-center{
    text-align: center;
}
.pro-area label{
    padding: 6px 8px;
}
.pro-area input,.pro-area select{
    padding: 3px 6px;
}
.pro-area .pro-row{
    margin: 8px 6px;
}
.pro-area .pro-header{
   /* font-size: 16px;
    font-weight: 800;*/
}
.operator-hightlight{
    stroke: #ffb7b7;
    fill: none;
}
.operator-del{
    cursor: pointer;
}
.path-hover{
    stroke: #fff;
    fill: #ddd;
    opacity: 0.5;
    cursor: pointer;
    visibility: hidden;
    pointer-events: all;
}
.path-hover:hover{
    visibility: visible;
}
.line-operator{
    cursor: pointer;
}
.dia-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #307FCE;
    z-index: 999;
    margin: 12px;
    border: 5px solid #666;
    padding: 6px;
}
.dia-overlay .dia-sub-create{
    width: 500px;
    margin: 10% auto;
    top: 50%;
}
.dia-center {
    text-align: center;
}
.dia-tab{
    display: inline-block;
    position: relative;
    display: inline-block;
    border: 1px solid #2890CB;
    border-bottom: none;
    padding: 8px;
    margin: 6px 6px 0 0;
    cursor: pointer;
    border-radius: 4px;
}
.dia-tab.selected{
    border-width: 2px;
}
.dia-tab span{
    cursor: pointer;
}
span.dia-del-tab{
    margin-left: 12px;
    position: relative;
    right: 0px;
    top: -4px;
}
.dia-close{
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}
.group-element rect{
    fill: #fff;
    fill-opacity: 0.01;
    stroke-dasharray: 5 10 5;
    stroke: #666;
}

.text-element text,.placeholder-element text{
    dominant-baseline: text-before-edge;
}

.dia-label, .dia-field{
    display: inline-block;
}
.dia-label{
    width: 60px;
}
.dia-field{
    width: 100px;
}
.pro-area label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
.pro-area input, .pro-area select{
    display: inline-block;
    width: 170px;
}
.dia-sub-create li{
    margin: 6px 6px;
}
.dia-sub-create label{
    display: inline-block;
    width: 60px;
    padding: 6px;
    text-align: right;
}
.dia-sub-create button{
    display: inline-block;
    margin: 6px;
}
#react-diagram-config{
    overflow: auto;
}